@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.container {
  min-height: 400px;
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-template-columns: 200px 100px 200px; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 1rem;
  /* padding: 1em; */
}

.box {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  

}






