@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  color: blue;
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  color: orange;
  line-height: 1.6;
  list-style-image: url(../images/checkmark.png);
}

ul li:nth-child(2) {
  color: red
}